<h1>Books:</h1>
<table border = "1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pages</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.pages }}</td>
            <td><a href = "{% url 'book_view' book.id %}">view</a></td>
            <td><h3>edit</h3></td>
            <td><h3>delete</h3></td>
        </tr>
        {% endfor %}
    </tbody>
</table>